* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #020B13 0%, rgba(3, 9, 14, 1) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  
}

header {

  width: 2000px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;

}

.pro{
  color: #00D0FF;
}

.corpo{
  display: flex;
  width: 1700px;
  height: 750px;
  background-color: #040B10;
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom, #02BCFF, #141616 ) 1; 

  position: relative;
  left: 140px;
 
}



.esquerda{
  
  background-color: #040B10;
  width: 650px;
  height: 650px;
  position: relative;
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  
}


.seja{

  width: 400px;
 
  
}

.texto{

  width: 400px;
  position: relative;
  bottom: 100px;
}

.login{
  
  position: relative;
  bottom: 200px;
  right: 100px;
  display: flex;
  gap: 8px;
}

.azul{
  color: #00D0FF;
}



.direita{
  background-color: #021016;
  width: 1000px;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50px;
  
  border-radius: 1rem;

}

form{
  
  height: 550px;
  width: 700px;
  bottom: 20px;
  position: relative;
  background-color: #040B10;
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom, #02BCFF, #141616 ) 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

form h1{
  position: relative;
  top: 10px;
}

input{
  padding: 0.5rem;
  background-color: white;
  border: none;
  border-radius: 1rem;
  width: 400px;


}

form button{
  position: relative;
  top: 40px;
  
  width: 300px;
  height: 50px;
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom, #02BCFF, #141616 ) 1; 
  background-color: #021016;
  
  color: white;
  cursor: pointer;
}